* {
    box-sizing: border-box;
}
a {
    color: rgb(237, 242, 237)
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    
    background-color: cadetblue;
    overflow: hidden;
}
.nav-center{
    text-align: center;
}
.container{
    box-sizing: 25px,30px;
    background-color: black;
    color:azure;
    text-align: center;
    overflow: hidden;
}
#btn{
    align-items: center;
    padding: 5px;
}
button:hover{
    background-color:aqua;
    cursor:pointer;
}


